.grid {
  &__wrapper {
    display: grid;
    margin-top: 25px;
  }
}

.shortly {
  grid-template-columns: repeat(12, minmax(0, 1fr));
  //медиа
  @media (max-width: 1700px) {
    gap: 0px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  @media (max-width: 1250px) {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  @media (max-width: 950px) {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  @media (max-width: 550px) {
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  grid-template-rows: repeat(2, 1fr);

  @for $i from 1 through 24 {
    .grid__wrapper > div {
      // :nth-child(1-14)
      &:nth-child(#{$i}) {
        // Delay the animation. Delay increases as items loop.
        animation-delay: $i * (0.03s);
      }
    }
  }
}
