.current-weather {
  &__title {
    margin-top: 45px;
  }

  &__city {
    font-size: 3em;
  }

  &__forecast {
    position: relative;
    padding-top: 64px;
    font-size: 1.5em;
    font-weight: 500;
    &--img {
      position: absolute;
      top: 0;
    }
  }

  &__wrapper {
    padding: 25px 0px;
  }
}
